.category-cont {
    width: 11rem;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 4px;
    margin-right: 1rem;
}

.left-border {
    z-index: 2;
    position: absolute;
    left: 25.91rem;
    right: 0;
    width: 1px;
    background-color: black;
    height: 80%;
    border-left: 1px solid gray;
}